---
import BlogPosts from "../components/blog-posts.astro";
import Base from "../layouts/base.astro";
import "../styles/global.css";

const blogs = await Astro.glob('./posts/*.md');
const title: string = "My Astro Learning Blog";
---

<Base pageTitle={title}>
  <p>This is where I will post about my journey learning Astro.</p>
  <BlogPosts posts={blogs}/>
</Base>